{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="ui-grid-a ui-corner-all">
    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Логин</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.username }}</div></div>
    {% if app.user and app.user.id == user.id %}
        <div class="ui-block-a"><div class="ui-bar ui-bar-a">@Редактируемое поле@</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a">@Значение поля@</div></div>
    {% endif %}
    <div class="ui-block-a"><div class="ui-bar ui-bar-a">Дата регистрации</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a">{{ user.createdAt|date }}</div></div>
</div>
{% endblock %}