{% extends '@Forum/layout/layout.html.twig' %}

{% block content %}
<ul data-role="listview" data-inset="true">
    {% for forum in forums %}
        <li><a class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-r" href="{{ path('forum_show', {'id': forum.id} ) }}">
            <span class="forum_title">{{ forum.title }}</span>
            <span class="ui-li-count">
                <span class="count_topics">{{ forum.countTopics }}</span> / <span class="count_posts">{{ forum.countPosts }}</span>
            </span>
        </a></li>
    {% else %}
        <li class="no_content">Пусто</li>
    {% endfor %}
</ul>
{% endblock %}
