<div data-role="controlgroup" data-type="horizontal">
    <a href="#" class="ui-disabled ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">Пред.</a>
    <a href="#" class="ui-btn ui-corner-all">1</a>
    <a href="#" class="ui-disabled ui-btn ui-corner-all">2</a>
    <a href="#" class="ui-disabled ui-btn ui-corner-all">3</a>
    <a href="#" class="ui-disabled ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-notext">След.</a>
</div>