{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}{{ forum.title }} / {{ topic.title }}{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
    {% for post in posts %}
        <li>{{ post.text }}</li>
    {% else %}
        <li>Пусто</li>
    {% endfor %}
    {% include('@Forum/pagerfanta.html.twig') %}
</ul>
{% endblock %}
