{% extends '@Forum/layout/layout.html.twig' %}

{% block title %}Форум{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true" data-theme="b" data-divider-theme="a" data-count-theme="a">
    <li data-role="list-divider">{{ topic.title }}</li>
    {% for post in posts %}
        <li>{{ post.text }}</li>
    {% else %}
        <li>Пусто</li>
    {% endfor %}
</ul>
{% endblock %}
